#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.home {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: #3c00ff;
  text-decoration: none;
  z-index: 10;
}